.recipeCard{
font-size:12px;
}
.register-role{
    width: 100%;
    display:block;
}
.register-role-div{
    width:100%;
    text-align: center;
    margin:0 auto;
}
.your-job{
    max-width:100%;
    text-align: center;
}
.red{
    color:red;
}

.rezept-background-image{
    background-image: url('/images/christmas-tarts-2976316_1920.jpg');
}
.check-state{
    display:block;
}
/* 編集画面 */
.material-box{
    box-sizing:border-box;
    width: 100%;

}
.material-input{
    width:50%;

    display: inline;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.volume-input{
    width:20%;
    display: inline;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.unit-select{
    width:20%;
    display: inline;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-plus{
    width:7%;
    display: inline;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #858585;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.edit-input{
width:60%;
height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  margin-right:10%;
}
.delete-input{
    width:30%;
    height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
}
.edit-form{
    border-collapse: collapse;
    width:100%;
    padding:5px;
    height: calc(1.6em + 0.75rem + 2px);
}
textarea{
    white-space:pre-wrap;
    font-size:2vmax;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.btn {
    border-radius: 5pt;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.7;
}
.dropdown-state{
    transition: 0.3s;
}
.cake-menu{

    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.material-ul{
    margin:0;
    padding:0;

}
.material-list{
margin: -3px 0;
    list-style:none;
    font-size:1.5vmax;
}
.recipe-textarea{
    border:none;
    resize:none;
}
.recipe-menu{
    font-size:1.5vmax;
    height:100%;
margin-right:1em;

}
.board-menu{
    height:1vmin;
    width:100%;
    margin-left:-1em;
}
.material-show{
    vertical-align:text-bottom;
}
.volume-show{
    text-align:right;
}

.guestCreate{

    border: 1px solid #ced4da;
    font-size: 0.9vmax;
}
.search_container{
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 260px;
    overflow: hidden;
  }
  .search_container input[type="text"]{
    border: none;
    height: 2.0em;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3879D9;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline : none;
  }
  .comfirmGuest{
      text-align:center;
      margin:0 auto;
      width:24em;
  }
  @media (max-width: 991.98px){

      .rezept{
          background-image: url(/images/dessert-3227890_1920.jpg);
          background-size:cover;
          height: 900px;
          width:100%;

        }
    }
    @media (min-width: 991.99px){

        .rezept{
            background-image: url(/images/christmas-tarts-2976316_1920.jpg);
            background-size:cover;
            height: 800px;
            width:100%;
        }
    }



.rezept-header{
    margin-top:5vh;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border:none;

}
.rezept-font{
    color:black;
    opacity: 0.7;
}
.rezept-body{
    border:1px solid #ced4da;
    background-color:white;
    height: 18em;
    width:60vw;
    max-width: 420px;
    opacity:0.8;
    flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  border-radius: 1.0em;
}
.btn-rezept{
    border: 1px solid #999;
}
.btn-rezept:hover{
    background-color:#ced4da;
}
.rezept-font-body{
    font-size:2vmax;
}

.rezept-sign{
    background:
    linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(2, 145, 2, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
