.recipeCard{
font-size:12px;
}
.register-role{
    width: 100%;
    display:block;
}
.your-job{
    max-width:100%;
    text-align: center;
}
.red{
    color:red;
}

.rezept-background-image{
    background-image: url('/images/christmas-tarts-2976316_1920.jpg');
}
