.recipeCard{
font-size:12px;
}
.register-role{
    width: 100%;
    display:block;
}
.register-role-div{
    width:100%;
    text-align: center;
    margin:0 auto;
}
.your-job{
    max-width:100%;
    text-align: center;
}
.red{
    color:red;
}

.rezept-background-image{
    background-image: url('/images/christmas-tarts-2976316_1920.jpg');
}
.check-state{
    display:block;
}
/* 編集画面 */
.material-box{
    box-sizing:border-box;
    width: 100%;

}
.material-input{
    width:50%;

    display: inline;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.volume-input{
    width:20%;
    display: inline;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.unit-select{
    width:20%;
    display: inline;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-plus{
    width:7%;
    display: inline;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #858585;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.edit-input{
width:60%;
height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  margin-right:10%;
}
.delete-input{
    width:30%;
    height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
}
.edit-form{
    border-collapse: collapse;
    width:100%;
    padding:5px;
    height: calc(1.6em + 0.75rem + 2px);
}
textarea{
    white-space:pre-wrap;
    font-size:2vmax;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.btn {
    border-radius: 5pt;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.7;
}
.dropdown-state{
    transition: 0.3s;
}
.cake-menu{

    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.material-ul{
    margin:0;
    padding:0;

}
.material-list{
margin: -3px 0;
    list-style:none;
    font-size:1.5vmax;
}
.recipe-textarea{
    border:none;
    resize:none;
}
.board-menu{
    height:100%;
    width:100%;
    margin-left:-1em;
}
.recipe-menu{

    margin-right:1em;
    padding-bottom: 0.125rem;
}
.edit-border{
    border:1px solid #c4c4c4;
}
@media (max-width: 480px){
.recipe-menu-width{
    max-width: 150px!important;
}
    .recipe-font{
    text-overflow:clip!important;
}
.board-flex-menu{
    opacity:0.9;
}
.f-item{
    max-height:100px;
    background-size:cover ;
}
.rezept-font-body{
    font-size:15px !important;
}

}
@media (max-width: 896px){
.recipe-menu-width{
    max-width: 150px;
}
.recipe-font{
    text-overflow:clip;
}
.board-flex-menu{
    opacity:0.9;
}
}
@media (max-width: 992px){
.recipe-menu-width{
    max-width:100%;
}
.recipe-font{
    text-overflow:clip;
}
.board-flex-menu{
    opacity:0.9;
}
.f-item{
    height:150px;
    background-size:cover ;
}
}
@media (min-width: 992.1px){
.board-frame{
    display:-webkit-box;
  	display:-ms-flexbox;
    display: flex;
    flex-wrap:wrap;
}
.f-item{
    width:48%;
    height:200px;
    margin:5px;
    background-size:cover ;
}
.board-flex-menu{
    opacity:0.9;
}
}
@media (min-width: 1200px){
    .board-frame{
        display:-webkit-box;
          display:-ms-flexbox;
        display: flex;
        flex-wrap:wrap;
    }
    .f-item{
        width:30%;
        height:250px;
        margin:10px;
        background-size:cover ;
    }
    .board-flex-menu{
        opacity:0.9;
    }

}


.material-show{
    vertical-align:text-bottom;
}
.volume-show{
    text-align:right;
}

.guestCreate{

    border: 1px solid #ced4da;
    font-size: 1.2vmax;
}
.search_container{
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 260px;
    overflow: hidden;
  }
  .search_container input[type="text"]{
    border: none;
    height: 2.0em;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3879D9;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline : none;
  }
  .comfirmGuest{
      text-align:center;
      margin:0 auto;
      width:24em;
  }
  .text-gray{
      color:#7e7e7e;
  }
  @media (max-width: 991.98px){

      .rezept{
          background-image: url(/images/dessert-3227890_1920.jpg);
          background-size:cover;
          height: 900px;
          width:100%;
        }
        .rezept-font-body{
            font-size:20px;
        }
    }
    @media (min-width: 991.99px){

        .rezept{
            background-image: url(/images/christmas-tarts-2976316_1920.jpg);
            background-size:cover;
            height: 800px;
            width:100%;
        }
        .rezept-font-body{
            font-size:24px;
        }
    }



.rezept-header{
    margin-top:5vh;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border:none;

}
.rezept-font{
    color:black;
    opacity: 0.7;
}
.rezept-body{
    border:1px solid #ced4da;
    background-color:white;
    height: 18em;
    width:60vw;
    max-width: 420px;
    opacity:0.8;
    flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  border-radius: 1.0em;
}
.btn-rezept{
    border: 1px solid #999;
}
.btn-rezept:hover{
    background-color:#ced4da;
}


.rezept-sign{
    background:
    linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(2, 145, 2, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border-top{
    border-top: 1px solid #ced4da;
}
.log_destroy{
    color:#d0211c;
}
.img-size{
    width:100%;
}
.img-size-mobile{
    width:75% ;
}
.img-select{
    width:100%;
    display: inline;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  margin:5px 0 10px 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.img-input{
    margin:4px 0;
    height:100%;
}
.sample-mail{background-color:#999; color:#fff;padding:5px 10px;}
.sample-pass{border:solid 1px #aaa; color:#999; padding:5px 10px;}
textarea:read-only{
}
